<div class="login-container">
    <div class="login-div">
        <div class='left-container'>
            <div class="login-change-images"></div>
            <div class="tint-overlay"></div>
        </div>
        <div class="right-container">
            <div class="caption">
                <div class="caption-text">WE</div>
                <div class="caption-text">CARE</div>
            </div>
            <div class="justify-center">
                <input placeholder="User Name" class="custom-input-box" />
                <input placeholder="Password" class="custom-input-box" type="password" />
                <br />
                <button class="login-button">Login</button>
            </div>
        </div>
    </div>
</div>