.custom-nav-bar{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #252030;
    color: white;
}

.custom-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top:20px;
}

.custom-list-item{
    margin-right: 20px;
    color: #252030;
    opacity: 0.2;
}

.logout-button{
    margin-left: auto;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

.custom-search{
    border: 1px solid lightgray;
    margin-top:5px;
   
    margin-left:auto;
    height: 40px;   
    outline: none;
    width: 35vw;
    min-width: 300px;
    max-width: 450px;
}

.search-container{
    display: flex;
    align-items: center;
}

.custom-title{
    font-size: 29px;
    padding-left: 30px;
    font-weight: 500;
    LETTER-SPACING: 1px;
}